@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    nav{
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        img{
            margin-top: 20px;
            margin-left: 90px;
        }
        ul{
            margin-top: 37px;
            margin-left: 2px;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            li{
                margin-left: 80px;
            }
        }
    }
}
.header-action{
    margin-top: 37px;
    margin-left: 200px;
    display: flex;
    color: #5a5a5a;
    #slash{
        width: 10px;
        height: 20px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 2px solid;
        color: rgb(202, 201, 201);
    }
    #logo-man{
        margin-left: 12px;
    }
    #logo-shop{
        margin-right: 7px;
    }
}
#banner{
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    background-color:  #f7f7f7;
    width: 100%;
    height: 850px;
    img{
        float: right;
        width: 50%;
        right: 0;
    }
    h1{
        font-weight: 700;
        font-family: 'Fira Sans', sans-serif;
        position: absolute;
        top: 235px;
        left: 90px;
        font-size: 58px;
        color: black;
    }
    p{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        color: #4f4f4f; 
        left: 90px;
        top: 480px;
        font-size: 20px;
    }
    .banner-tag{
        position: absolute;
        top: 140px;
        left: 90px;
        width: 524px;
        height: 50px;
        border: 1px solid #efeff0;
        border-radius: 40px;
        display: flex;
        background-color: #efeff0;
        #left{
            color: #fff;
            font-weight: 600;
            padding: 12px 30px;
            margin-right: 10px;
            border-radius: 40px;
            display: inline-block;
            background-color: #0000fe;
        }
        #right{
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 0;
            display: inline-block;
            padding-top: 12px;
        }
    }
    .all-courses{
        position: absolute;
        top: 616px;
        left: 90px;
        color: #fff;
        width: 160px;
        height: 55px;
        display: block;
        overflow: hidden;
        font-weight: 700;
        line-height: 55px;
        border-radius: 40px;
        background-color: #ff5520;
        text-decoration: none;
        text-align: center;
    }
    .play-button{
        i{
            position: absolute;
            top: 30px;
            left: 70px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: blue;
            color: white;
            padding-left: 20px;
            line-height: 50px;
            top: 619px;
            left: 290px;
        }
    }    
}
body{
    position: relative;
    .search{
        position: absolute;
        top: 896px;
        left: 90px;
        width: 703px;
        height: 85px;
        background-color: #fff;
        border: 1px solid rgb(197, 193, 193);
        border-radius: 10px;
        padding: 20px 20px 12px;
        box-shadow: 0px 6px 21px 0px grey;
        font-family: "Fira Sans";
        display: flex;
        .search-categories{
            display: flex;
            color: black;
            h2{
                padding-top: 12px;
                font-size: 18px;
                font-weight: 700;
            }
        }
        a{
            position: relative;
            left: 112px;
            color: #fff;
            height: 45px;
            width: 160px;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            background-color: #0000fe;
            text-decoration: none;
            text-align: center;
            padding-top: 12px;

        }
    }   
}    

.apply{
    margin-top: 70px;
    margin-left: 90px;
}
#top-categories{
    .title-categories{
        margin-top: 110px;
        text-align: center;
        span{
            color: #0000fe;
            font-size: 18px;
            font-weight: 700;
        }
        h2{
            color: #000;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.125;
            padding: 15px 0px 20px;
        }
    }
   

.top-categories-images{
    position: relative;
    margin-left: 34px;
    display: flex;
    color: white;
    .img-1{
        position: absolute;
        padding-top: 250px;
        display: inline-block;
        width: 370px;
        border-radius: 10px;
        background-color: #000;
        padding: 25px 40px 0px;
        margin-bottom: 35px;
        .icon-title{
            display: inline-block;
            position: absolute;            
        }       
    }
}
.title{
    h4{
        font-family: "Fira sans";
        font-weight: 100;
        font-size: 18px;
    }
}
}
.owl-theme{
    .item{
        border-radius: 10px;
        background-color: #000;
        padding: 25px 40px 0px;
        margin-bottom: 35px;
        color: white;
        font-family: Roboto;
    }
}
.container{
    .slide-changer{
        text-align: center;
        display: inline;
        div{
            width: 28px;
            height: 5px;
            cursor: pointer;
            border-radius: 30%;
            display: inline-block;
            background-color: #ececed;
            transition: 0.3s all ease-in-out;
            &:hover{
                background-color: blue;
                width: 40px;
            }
        }
        
    }
}
#courses{
    height: 2000px;
    background-color: #f7f7f7;

.title-courses{
    text-align: center;
    margin-top: 40px;
    width: 100%;
    font-family: "Roboto";
    padding: 105px 0px 50px;
    span{
        font-weight: 700;
        font-size: 18px;
        color: blue;
    }
    h2{
        color: #000;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.125;
        padding: 15px 0px 20px;
    }
}
}
   
    .container{
        margin-left: 90px;
        .row{
            justify-content: space-between;
            .col-3{
                position: relative;
                padding: 25px 25px;
                padding-right: 145px;
                border-radius: 10px;
                margin-top: 40px;
                background-color: white;
                max-width: 23%;
                height: 410px;
                &:hover{
                    .course-details{
                        .course-title{
                            h3{
                                a{
                                    transition: 0.3s;
                                    color: #fd7e14;
                                }
                            }
                        }
                        .star-rating{
                            .next-arrow{
                                transition: 0.3s;
                                background-color: #fd7e14;
                            }
                        }
                    }
                }
                img{
                    position: absolute;
                    box-sizing: border-box;
                    left: 20px;
                    right: 20px;
                    border-radius: 5px;
                    max-width: 85%;
                    height: auto;      
                }
                .course-details{
                    position: absolute;
                    top: 200px;
                    left: 20px;
                    .course-fee{
                        display: flex;
                        span{
                            font-weight: 400;
                            font-size: 16px;
                            color: #555555;
                            margin-right: 20px;
                        }
                        del{
                            font-weight: 400;
                            font-size: 16px;
                            color: #555555;
                            margin-right: 20px;
                        }
                        strong{
                            margin-top: -10px;
                            font-weight: 700;
                            font-size: 26px;
                        }
                    }
                    .course-title{
                        h3{
                            line-height: 1;
                            a{
                                font-size: 18px;
                                font-weight: 700;
                                color: black;
                                text-decoration: none;
                            }
                        }
                    }
                    .icons{
                        display: flex;
                        a{
                            color: #555555;
                            font-size: 14px;
                            text-decoration: none;
                            i{
                            margin-top: 10px;
                            color: blue;
                            font-size: 14px;
                            }
                        }
                    }
                    .star-rating{
                        font-size: 13px;
                        margin-top: 25px;
                        display: flex;
                        top: 220px;
                        i{
                            letter-spacing: 5px;
                            color: #ffc601;
                        }
                        .next-arrow{
                            width: 30px;
                            height: 30px;
                            background-color: #0000fe;
                            border-radius: 50%;
                            text-align: center;
                            margin-left: 30px;
                            margin-top: -10px;
                            a{
                                i{
                                    margin-left: 5px;
                                    margin-top: 8px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }            
        }
        
    }

