@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    nav{
        top: 0px;
        position: fixed;
        z-index: 99;
        background-color: white;
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        .header-categories{
            display: flex;
            margin-left: 65px;
            margin-top: -14px;
            .dropdown{
                .dropbtn{
                    font-family: "Roboto";
                    font-weight: 700;
                    margin-left: 40px ;
                }
            }
        }
        img{
            margin-top: 20px;
            margin-left: 90px;
        }
        .dropdown{
            margin-top: 37px;
            margin-left: 2px;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
        }
    }
}
.header-action{
    margin-top: 37px;
    margin-left: 200px;
    display: flex;
    color: #5a5a5a;
    #slash{
        width: 10px;
        height: 20px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 2px solid;
        color: rgb(202, 201, 201);
    }
    #logo-man{
        margin-left: 12px;
        transition: 0.3s all ease-in-out;
        &:hover{
            color: #0000fe;
        }
    }
    #logo-shop{
        margin-right: 7px;
        transition: 0.3s all ease-in-out;
        &:hover{
            color: #0000fe;
        }
    }
}
#banner{
    position: relative;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    background-color:  #f7f7f7;
    width: 100%;
    height: 850px;
    .shape-1{
        position: absolute;
        top: 728px;
        left: -90px;
        width: 300px;
        height: 300px;
        padding: 0px;
        
    }
    .shape-2{
        position: absolute;
        top: 815px;
        left: 535px;
        width: 300px;
        height: 300px;
        padding: 0px;
        
    }
    img{
        float: right;
        width: 50%;
        right: 0;
    }
    h1{
        font-weight: 700;
        font-family: 'Fira Sans', sans-serif;
        position: absolute;
        top: 235px;
        left: 90px;
        font-size: 58px;
        color: black;
    }
    p{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        color: #4f4f4f; 
        left: 90px;
        top: 480px;
        font-size: 20px;
    }
    .banner-tag{
        position: absolute;
        top: 140px;
        left: 90px;
        width: 524px;
        height: 50px;
        border: 1px solid #efeff0;
        border-radius: 40px;
        display: flex;
        background-color: #efeff0;
        #left{
            color: #fff;
            font-weight: 600;
            padding: 12px 30px;
            margin-right: 10px;
            border-radius: 40px;
            display: inline-block;
            background-color: #0000fe;
        }
        #right{
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 0;
            display: inline-block;
            padding-top: 12px;
        }
    }
    .all-courses{
        position: absolute;
        top: 616px;
        left: 90px;
        color: #fff;
        width: 160px;
        height: 55px;
        display: block;
        overflow: hidden;
        font-weight: 700;
        line-height: 55px;
        border-radius: 40px;
        background-color: #ff5520;
        text-decoration: none;
        text-align: center;
    }
    .play-button{
        
        i{
            position: absolute;
            top: 30px;
            left: 70px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: blue;
            color: white;
            padding-left: 20px;
            line-height: 50px;
            top: 619px;
            left: 290px;
            transition: 0.3s all ease-in-out;
            &:hover{
                background-color: #dc3545;
            }
        }
    }  
    .animation-square-1{
        position: absolute;
        width: 7px;
        height: 7px;
        top: 200px;
        left: 150px;
        background-color: #00a4ff;
        animation-name: identifier;
        animation-duration: 12s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        @keyframes identifier {
            0%   {left:120px; top:0px;}
            25%  {left:800px; top:200px;}
            50%  {left:150px; top:500px;}
            100% {left:0px; top:200px;}
        }
    }  
    .animation-square-2{
        position: absolute;
        width: 10px;
        height: 10px;
        top: 200px;
        left: 150px;
        background-color: orange;
        animation-name: identifier-2;
        animation-duration: 12s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        @keyframes identifier-2 {
            0%   {left:220px; top:100px;}
            25%  {left:900px; top:600px;}
            50%  {left:250px; top:60px;}
            100% {left:0px; top:600px;}
        }
    }  
    .animation-square-3{
        position: absolute;
        width: 11px;
        height: 11px;
        top: 200px;
        left: 150px;
        background-color: black;
        animation-name: identifier-3;
        animation-duration: 12s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        @keyframes identifier-3 {
            0%   {left:120px; top:300px;}
            25%  {left:700px; top:400px;}
            50%  {left:120px; top:900px;}
            100% {left:200px; top:500px;}
        }
    }  
    .animation-square-4{
        position: absolute;
        width: 8px;
        height: 8px;
        top: 200px;
        left: 150px;
        background-color: darkblue;
        animation-name: identifier-4;
        animation-duration: 12s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        @keyframes identifier-4 {
            0%   {left:520px; top:500px;}
            25%  {left:1100px; top:1000px;}
            50%  {left:320px; top:500px;}
            100% {left:0px; top:900px;}
        }
    }  
}
body{
    position: relative;
    .search{
        position: absolute;
        top: 800px;
        left: 90px;
        width: 703px;
        height: 85px;
        background-color: #fff;
        border: 1px solid rgb(197, 193, 193);
        border-radius: 10px;
        padding: 20px 20px 12px;
        box-shadow: 0px 6px 21px 0px grey;
        font-family: "Fira Sans";
        display: flex;
        .search-categories{
            display: flex;
            color: black;
            h2{
                padding-top: 12px;
                font-size: 18px;
                font-weight: 700;
            }
        }
        a{
            position: relative;
            left: 112px;
            color: #fff;
            height: 45px;
            width: 160px;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            background-color: #0000fe;
            text-decoration: none;
            text-align: center;
            padding-top: 12px;
        }
    }   
    .subscribe{
        position: absolute;
        background-color: black;
        width: 1200px;
        height: 140px;
        top: 5100px;
        left: 90px;
        border-radius: 5px;
        color: white;
        .container{
            padding: 35px 0px;
            .row{
                #text{
                    margin-left: -50px;
                    h3{
                        font-size: 30px;
                        font-weight: 700;
                        font-family: "Fira Sans";
                    }
                    span{
                        color: #bbbbbb
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                }
                #input{
                    margin-top: 20px;
                    form{
                        display: flex;
                        input{
                            height: 48px;
                            width: 100%;
                            border: none;
                            max-width: 320px;
                            padding-left: 20px;
                            background-color: #292929;
                        }
                        button{
                            background-color: #ff5520;
                            width: 145px;
                            height: 45px;
                            font-size: 14px;
                            font-weight: 700;
                            color: white;
                            padding-left: 40px;
                            padding-top: 12px;
                            border: none;
                            margin-left: 10px;
                            i{
                                margin-left: 10px;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}    

.apply{
    margin-top: 70px;
    margin-left: 90px;
}
#top-categories{
    .title-categories{
        margin-top: 110px;
        text-align: center;
        span{
            color: #0000fe;
            font-size: 18px;
            font-weight: 700;
        }
        h2{
            color: #000;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.125;
            padding: 15px 0px 20px;
        }
    }
   

.top-categories-images{
    position: relative;
    margin-left: 34px;
    display: flex;
    color: white;
    .img-1{
        position: absolute;
        padding-top: 250px;
        display: inline-block;
        width: 370px;
        border-radius: 10px;
        background-color: #000;
        padding: 25px 40px 0px;
        margin-bottom: 35px;
        .icon-title{
            display: inline-block;
            position: absolute;            
        }       
    }
}
.title{
    h4{
        font-family: "Fira sans";
        font-weight: 100;
        font-size: 18px;
    }
}
}
.owl-theme{
    .item{
        border-radius: 10px;
        background-color: #000;
        padding: 25px 40px 0px;
        margin-bottom: 35px;
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        transition: 0.3s all ease-in-out;
        &:hover{
            .image{
                img{
                    opacity: 0.7;
                }
            }
            #icon-atom{
                transition-duration: 0.6s;
                transform: rotateY(360deg);
            }
        }
        .title{
        [class^="flaticon-"]:before, [class*=" flaticon-"]:before, 
        [class^="flaticon-"]:after, [class*=" flaticon-"]:after
        {
            font-size: 45px;
            margin-left: -5px;
            margin-right: 5px;
            color:#ff5520;
            }
        }
    }
}
.container{
    .slide-changer{
        text-align: center;
        display: inline;
        div{
            width: 28px;
            height: 5px;
            cursor: pointer;
            border-radius: 30%;
            display: inline-block;
            background-color: #ececed;
            transition: 0.3s all ease-in-out;
            &:hover{
                background-color: blue;
                width: 40px;
            }
        }
        
    }
}
#courses{
    height: 1600px;
    background-color: #f7f7f7;

    .title-courses{
        text-align: center;
        margin-top: 40px;
        width: 100%;
        font-family: "Roboto";
        padding: 105px 0px 50px;
        span{

            font-weight: 700;
            font-size: 18px;
            color: blue;
        }
        h2{
            font-family: "Fira Sans";
            color: #000;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.125;
            padding: 15px 0px 20px;
        }
    }
    .all-courses{
        margin: auto;
        margin-top: 50px;
        width: 175px;
        height: 50px;
        display: block;
        overflow: hidden;
        font-weight: 700;
        line-height: 50px;
        border-radius: 40px;
        background-color:#0000fe;
        text-align: center;
        a{
            text-decoration: none;
            color: #fff;
        }
        i{
            margin-left: 5px;
            color: white;
        }
    }
}
   
    .container{
        margin-left: 90px;
        .row{
            justify-content: space-between;
            .col-3{
                position: relative;
                padding: 15px 25px;
                border-radius: 10px;
                margin-top: 40px;
                background-color: white;
                max-width: 23%;
                height: 410px;
                transition: 0.3s all ease-in-out;

                &:hover{
                    box-shadow: 0px 6px 21px 0px grey;

                }
                
.image{
    border-radius: 5px;
   
    overflow: hidden;
}

                &:hover{
                    .image img{
                    
                       
                       transform: scaleX(1.1);
                    
                           
                        }
                    .course-details{
                        .course-title{
                            h3{
                                a{
                                    transition: 0.3s;
                                    color: #fd7e14;
                                }
                            }
                        }
                        .star-rating{
                            .next-arrow{
                                transition: 0.3s;
                                background-color: #fd7e14;
                                a{
                                    i{
                                    transition: 0.3s;
                                    motion-rotation: 180deg; 
                                }
                                }
                            }
                        }
                    }
                }
              
                img{ 
                    height: auto;
                    max-width: 100%; 
                    transition: 0.5s all ease-in-out;   
                }
                .course-details{
                    position: absolute;
                    top: 200px;
                    left: 20px;
                    .course-fee{
                        display: flex;
                        span{
                            font-weight: 400;
                            font-size: 16px;
                            color: #555555;
                            margin-right: 20px;
                        }
                        del{
                            font-weight: 400;
                            font-size: 16px;
                            color: #555555;
                            margin-right: 20px;
                        }
                        strong{
                            margin-top: -10px;
                            font-weight: 700;
                            font-size: 26px;
                        }
                    }
                    .course-title{
                        h3{
                            line-height: 1;
                            a{
                                font-size: 18px;
                                font-weight: 700;
                                color: black;
                                text-decoration: none;
                            }
                        }
                    }
                    .icons{
                        display: flex;
                        a{
                            color: #555555;
                            font-size: 14px;
                            text-decoration: none;
                            i{
                            margin-top: 10px;
                            color: blue;
                            font-size: 14px;
                            }
                        }
                    }
                    .star-rating{
                        font-size: 13px;
                        margin-top: 25px;
                        display: flex;
                        top: 220px;
                        i{
                            letter-spacing: 5px;
                            color: #ffc601;
                        }
                        .next-arrow{
                            width: 30px;
                            height: 30px;
                            background-color: #0000fe;
                            border-radius: 50%;
                            text-align: center;
                            margin-left: 30px;
                            margin-top: -10px;
                            a{
                                i{
                                    margin-left: 5px;
                                    margin-top: 8px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }            
        }
        
    }

    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
        visibility: visible !important;
    }

    .register{
        background-color: white;
        margin-top: -155px;
        margin-left: 7%;
        margin-right: 5%;
        height: 313px;
        border-radius: 5px;
        padding-top: -100px;
        display: flex;
        .container{
            margin: 0px !important;
            .row{
                margin-left: -26px;
                .col{

display: flex;
padding-left: -10px;

#img-2{
    margin-left: 20px;
    margin-top: -54px;
}
 }
}
    }
}
#testimonials{
    margin-left: 7%;
    margin-right: 5%;
    padding-bottom: 105px;
    .title{
        color: #0000fe;
        margin-top: 110px;
        text-align: center;
        h2{
            font-size: 18px;
            font-weight: 700;
        }
        h3{
            color: #000;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.125;
            font-family: "Fira Sans";
        }
    }
    .categories{
        .container{
            margin-top: 62px;
            margin-left: 0px;
            margin-bottom: 30px;
            .row{
                .col{
                    position: relative;
                    padding: 10px;
                    border: 1px solid rgb(255, 252, 252);
                    width: 24%;
                    height: 290px;
                    margin-left: 30px;
                    border-radius: 10px;
                    box-shadow: 0px 12px 35px 0px #ecebeb;
                    transition: 0.3s all ease-in-out;

                    &:hover{
                        transform: translateY(-25px);
                        box-shadow: 0px 36px 35px 0px rgb(219, 214, 214);
                        #quote-icon{
                            color: #fd7e14;
                        }
                    }
                    #quote-icon{
                        position: absolute;
                        top: 7px;
                        font-size: 30px;
                        color: #efefef;
                        left: 215px;
                    }
                    .text{
                        color: #0000fe;
                        margin-left: 17px;
                        margin-top: 32px;
                        h2{
                            font-size: 18px;
                            font-weight: 700;
                            font-family: "Fira sans";
                        }
                        p{
                            margin-top: 16px;
                            color: #666666;
                        }
                    }
                    .manager{
                        display: flex;
                        .manager-image{
                            border-radius: 50%;
                            width: 65px;
                            height: 65px;
                            border: 3px solid #0000fe;
                            padding: 4px;
                            margin-left: 17px;
                            margin-right: 12px;
                        }
                        .manager-info{
                            line-height: 30%;
                            a{
                                text-decoration: none;
                                color: #000;
                                font-size: 14px;
                                font-weight: 700;
                                font-family: "Fira Sans";
                            }
                            span{
                                color: #888888;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            
        }
        .slide-changer{
            text-align: center;
            display: inline;
            div{
                width: 28px;
                height: 5px;
                cursor: pointer;
                border-radius: 30%;
                display: inline-block;
                background-color: #ececed;
                transition: 0.3s all ease-in-out;
                &:hover{
                    background-color: blue;
                    width: 40px;
                }
            }
        }    
    }
}
#latest-news{
    // margin-left: 7%;
    // margin-right: 5%;
    margin-top: -110px!important;
    background-color: #f7f7f7;
    padding-bottom: 140px;
    .title{
        color: #0000fe;
        margin-top: 110px;
        text-align: center;
        padding-top: 105px;
        h2{
            font-size: 18px;
            font-weight: 700;
        }
        h3{
            color: #000;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.125;
            font-family: "Fira Sans";
        }
    }
    .container{
        margin-left: 7%;
        margin-right: -20px;
        margin-top: 45px;
        
        .row{
            padding-bottom: 80px;
            .col-4{
                position: relative;
                width: 350px!important;
                margin-right: 10px;
                background-color: white;
                
                .image{
                    padding: 0px;
                    img{
                        width: 350px;
                        margin-left: -12px;
                        opacity: 0.8;
                    }
                }
                .date{
                    position: absolute;
                    background-color: black;
                    display: inline-block;
                    text-align: center;
                    padding-top: 13px;
                    width: 80px;
                    height: 80px;
                    left: 25px;
                    top: 166px;
                    border-radius: 3px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 1.1;
                        font-family: "Fira Sans";
                        span{
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                            font-family: "Roboto";
                        }
                    }
                }
                .content{
                    padding: 59px 12px;
                    .header{
                        position: relative;
                        color: #0000fe;
                        display: flex;
                        #slash{
                            left: 62px;
                            position: absolute;
                            width: 10px;
                            height: 20px;
                            border-top: 0px;
                            border-bottom: 0px;
                            border-left: 0px;
                            border-right: 2px solid;
                        }
                        span{
                            font-size: 13px;
                            font-weight: 700;
                            font-family: "Fira Sans";
                            cursor: pointer;

                        }
                    }
                    .about{
                        h3{
                            position: relative;
                            a{
                                color: #000;
                                font-size: 24px;
                                font-weight: 700;
                                margin-bottom: 15px;
                                position: relative;
                                padding: 10px 0px 15px;
                                border-bottom: 2px solid #eaeaea;
                                
                            }
                            #border{
                                position: absolute;
                                top: 78px;
                                width: 40px;
                                border-bottom: 4px solid #fd7e14;
                                cursor: context-menu;
                            }
                            
                        }
                        p{
                            color: #666666;
                        }
                        a{
                            color: #000;
                            display: inline-block;
                            font-size: 14px;
                            font-weight: 700;
                            transition: 0.3s all ease-in-out;
                            text-decoration: none;
                            transition: 0.3s all ease-in-out;
                            &:hover{
                                color: #0000fe;
                            }
                        }
                    }
                }
            }
        }
        .slide-changer{
            text-align: center;
            display: inline;
        }
    }
}
footer{
    margin-top: -335px;
    background-color: #000a1f;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    color: #555555;
    font-size: 16px;
    line-height: 1.625;
    font-family: "Roboto";
    .container{
        border-bottom: 2px solid #383737;

        padding-bottom: 100px;
        letter-spacing: 0px;
        .row{
            margin-right: 100px;
            .col-3{
                position: relative;
                padding-left: 0px;
                padding-right: 0px;
                background-color: #000a1f;
                height: auto;
                &:hover{
                    box-shadow: none;
                }
                #border{
                    position: absolute;
                    height: 4px;
                    background-color: #ff5520;
                    width: 30px;
                    top: 50px;
                    left: 0px;
                }
            }
            #about{
                position: relative;
                p{
                    margin-top: 18px;
                    color: #9d9d9d;
                    padding-bottom: 35px;
                }
                
                a{
                    position: absolute;
                    top: 200px;
                    left: 0px;
                    text-align: center;
                    color: #fff;
                    height: 35px;
                    width: 100px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 35px;
                    border-radius: 30px;
                    background-color: #ff5520;
                    text-decoration: none;
                    text-transform: uppercase;
                }         
            }
            #newsletter{
                h2{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 700;
                    position: relative;
                    margin-bottom: 25px;
                }
                span{
                    color: #9d9d9d;
                }
                form{
                    margin-top: 30px;
                    display: flex;
                    input{
                        height: 45px;
                        width: 100%;
                        padding-left: 20px;
                        border: 2px solid #313131;
                    }
                    button{
                        background-color: #ff5520;
                        width: 80px;
                        height: 45px;
                        border: none;
                        color: white;
                    }
                }
                .social-media{
                    margin-top: 22px;
                    ul{
                        display: flex;
                        padding: 0px;
                        list-style-type: none;
                        li{
                            margin-right: 15px;
                            i{
                                color: #494949;
                            }
                        }
                    }
                }
            }
            #official-info{
                width: 150px;
                h2{
                    font-size: 24px;
                    color: white;
                }
                ul{
                    list-style-type: none;
                    li{
                        i{
                            color: #ff5520;
                            margin-left: -30px;
                            font-size: 14px;
                            margin-top: 5px;
                            margin-right: 10px;
                        }
                        a{
                            text-decoration: none;
                            color: #9d9d9d;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
                u{
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                }
                span{
                    font-size: 14px;
                    color: #9d9d9d;
                    max-width: 180px;
                }
            }
            #photos{
                h2{
                    width: 500px;
                    font-size: 24px;
                    color: white;
                }
                .first-line{
                    display: flex;
                }
                .second-line{
                    display: flex;
                }
            }
        }
    }
}
.copyright{
    padding-top: 30px;
    background-color: #000a1f;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
}